doctype html
html(lang="ru")
  head
    block head
    title #{title}
    meta(charset="UTF-8")
    meta(name="description", content=description)
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon", href="./favicon.png", type="image/png")
    link(rel="stylesheet", href="fonts/raleway/raleway.css")
    link(rel="stylesheet", href="fonts/fontawesome/css/all.min.css")
    link(rel="stylesheet", href="css/main.css")
  body
    block body
    .microMarkup(itemscope, itemtype="http://schema.org/Organization")
        span(itemprop="name") SushkaPola
        | Контактная информация
        div(itemprop="address" itemscope="", itemtype="http://schema.org/PostalAddress")
          | Почтовый адрес:
          span(itemprop="streetAddress") д65 стр.4, ул. Рябиновая
          span(itemprop="postalCode") 121471
          span(itemprop="addressLocality") Москва, Россия
        span(itemprop="telephone") +7 926 286 37 81
        span(itemprop="email") help@sushkapola.ru

    script(src="js/bundle.js")
