footer.footer
  .container.footer__container
    a.footer__social(href="https://wa.me/79262863781")
      i.footer__social-icon.fab.fa-whatsapp-square
    a.footer__social(href="viber://chat?number=89262863781")
      i.footer__social-icon.fab.fa-viber
    a.footer__social(href="mailto:kaster_troi@mail.ru")
      i.footer__social-icon.fal.fa-envelope
    a.footer__social(href="tel:+79262863781")
      i.footer__social-icon.fal.fa-phone