nav.nav
  .container.nav__container
    .nav-toggler(data-target="#navigation")
      i.nav-toggler__icon.fal.fa-bars
    ul.nav-list#navigation
      li.nav-list__item
        a.nav-list__item-link(href="#") главная
      li.nav-list__item.nav-list__item_dropdown
        a.nav-list__item-link(href="#") услуги
        i.nav-list__item-marker.fal.fa-angle-down
        ul.nav-dropdownlist
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Сушка пола без демонтажа
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Сушка стен и потолка
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Сушка подвальных помещений
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Сушка чердаков и мансард
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Осушение воздуха в бассейне
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Сушка складов
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Сушка помещений перед ремонтом
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Косметический ремонт после затопления
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Восстановление проводки после затопления
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Обнаружение скрытых протечек
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="#") Удаление плесени
      li.nav-list__item
        a.nav-list__item-link(href="#") Цены
      li.nav-list__item
        a.nav-list__item-link(href="#") Контакты