nav.nav
  .container.nav__container
    ul.nav-list#navigation
      li.nav-list__item
        a.nav-list__item-link(href="/") главная
      li.nav-list__item.nav-list__item_dropdown
        a.nav-list__item-link(href="#") услуги
        i.nav-list__item-marker.fal.fa-angle-down
        ul.nav-dropdownlist
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-floor.html") Сушка пола без демонтажа
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-walls-and-ceil.html") Сушка стен и потолка
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-basement.html") Сушка подвальных помещений
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-mansard.html") Сушка чердаков и мансард
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-pool.html") Осушение воздуха в бассейне
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-storage.html") Сушка складов
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-before-repairs.html") Сушка помещений перед ремонтом
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-search-leakage.html") Обнаружение скрытых протечек
          li.nav-dropdownlist__item
            a.nav-dropdownlist__item-link(href="sushka-clean-mold.html") Удаление плесени
      li.nav-list__item
        a.nav-list__item-link(href="pricing.html") Цены
      li.nav-list__item
        a.nav-list__item-link(href="contacts.html") Контакты
