-
  var patterns = [
    {
      title: 'Просушка пола без демонтажа',
      imgUrl: 'img/sushka-floor.jpg'
    },
    {
      title: 'Просушка стен и потолка',
      imgUrl: 'img/sushka-walls-and-ceil.jpg'
    },
    {
      title: 'Просушка подвальных помещений',
      imgUrl: 'img/sushka-basement.jpg'
    },
    {
      title: 'Просушка чердаков и мансард',
      imgUrl: 'img/sushka-mansard.jpg'
    },
    {
      title: 'Осушение воздуха в бассейне',
      imgUrl: 'img/sushka-pool.jpg'
    },
    {
      title: 'Просушка складов и ангаров',
      imgUrl: 'img/sushka-storage.jpg'
    },
    {
      title: 'Просушка помещений перед ремонтом',
      imgUrl: 'img/sushka-before-repairs.jpg'
    },
    {
      title: 'Удаление плесени',
      imgUrl: 'img/sushka-clean-mold.jpg'
    }
  ];      
section.services
    h2.services__title Какие услуги мы предоставляем?
    .row.services__row
      each pattern in patterns
        .service
          .service__image(data-bg=pattern.imgUrl)
          a.service__heading
            h3.service__heading-title= pattern.title