// Colors
$dark: #2a323a
$light: #ffffff
$darkAccent: #44aaa2
$lightAccent: #d8cb55

// Fonts
$mainFont: 'Raleway', sans-serif

// Grid
$grid-columns: 12
$grid-gutter: 30px
$breakpoints: ( 'xs': 576px, 'sm': 576px, 'md': 768px, 'lg': 992px, 'xl': 1200px )
