extends ../templates/base.pug 

block head
  - var title = "";
  - var description = "";

block body
  include ../templates/header.pug
  include ../templates/navigation.pug
  include ../templates/intro.pug