extends ../templates/base.pug 

block head
  - var title = "";
  - var description = "";

block body
  include ../templates/header.pug
  include ../templates/navigation.pug
  main.main
    include ../templates/intro.pug
    include ../templates/triggers.pug
    article.article
      .container.article__container
        h2.article__title Почему вы не сможете справиться самостоятельно?
        .article__image(data-bg="img/article-image.jpg")
        p.article__paragraph Затопление квартиры или дома - неприятная ситуация, с которой может столкнуться каждый из нас в самый неподходящий момент. К ней нельзя подготовиться заранее, ведь сложно предугадать, когда у вас или ваших соседей произойдет авария. Но устранение последствий затопления требует незамедлительных действий с привлечением профессионалов.
        p.article__paragraph Дело не только в испорченной мебели и электроприборах, и даже не в необходимости заново делать косметический ремонт в помещении.
        p.article__paragraph Последствия затопления могут быть следующими:
        ul.article__list
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text В электропроводке начинают происходить короткие замыкания, а со временем она совсем может выйти из строя
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text Стены, потолок и пол впитывают влагу, от которой практически невозможно избавиться, просто проветривая помещение
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text На стенах образуется плесень (или грибок), которая не только разрушает строительный материал, но и оказывает негативное воздействие на здоровье человека (может возникнуть аллергия, астма и другие хронические заболевания)
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text Возникает неприятный запах сырости    
    include ../templates/hww.pug