extends ../templates/base.pug

block head
  - var title = "Просушка домов, квартир и других помещений при помощи профессионального оборудования";
  - var description = "Затопили соседи сверху? Во время тушения пожара затопили помещение? Прорвало трубу или систему отопления? Проблемы с гидроизоляцией помещения? Не беда! Мы решим все эти проблемы при помощи специального оборудования быстро, качественно и максимально дешево. Просушить квартиру или дом - без проблем";
  meta(name="yandex-verification", content="ba3e5edd0c4c8bbe")
  script.
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55222039, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });


block body
  .sticky
    include ../templates/header.pug
    include ../templates/navigation.pug
  main.main
    include ../templates/intro.pug
    include ../templates/triggers.pug
    include ../templates/faq.pug
    article.article
      .container.article__container
        h2.article__title Почему вы не сможете справиться самостоятельно?
        img.article__image(data-src="img/article-image.jpg", alt="Потоп в квартире. Самостоятельно просушить квартиру после затопления. Забыл закрыть кран, что теперь делать?")
        p.article__paragraph Затопление квартиры или дома - крайне сложная проблема, с ней сталкиваются тысячи людей каждый год и происходит это в самый неподходящий момент. К такому не возможно приготовиться заранее , ведь не всё в этой жизни зависит от вас.. Устранение же затопления требует оперативного вмешательства и делать это должны  профессионалы.
        p.article__paragraph Проблема  не только в испорченной электроприборах и  мебели , и даже не в том, что нужно  заново делать  ремонт в затопленной квартире или доме.
        p.article__paragraph Вы можете столкнуться со следующими проблемами:
        ul.article__list
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text В электропроводке могут начать происходить короткие замыкания, также она может полностью выйти из строя.
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text Потолок, стены и пол впитывают влагу, от которой не избавиться проветривая помещение
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text На стенах может образоваться грибок, возникает неприятный запах сырости, появляется большой риск причинения вреда здоровью
    include ../templates/hww.pug
    include ../templates/services.pug
  include ../templates/footer.pug
