extends ../templates/base.pug

block head
  - var title = "Просушить квартиру перед ремонтом | Срочно | Дешево";
  - var description = "";

block body
  .sticky
    include ../templates/header.pug
    include ../templates/navigation.pug
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Просушка помещения перед ремонтом
        .article__image(data-bg="img/sushka-before-repairs.jpg")
        p.article__paragraph Ремонт квартиры в новостройке ответственный и хлопотный процесс.
        p.article__paragraph Перед тем как начинать ремонт в новой квартире необходимо правильно подготовить помещение. Прежде всего - просушить его. Ведь во время строительства дом долгое время находился без отопления и стены могли впитать влагу.
        p.article__paragraph Излишняя влажность помещения может повлиять на длительность ремонтных работ, а также стать источником «неприятных сюрпризов» - обои на влажных стенах могут поменять цвет или вообще отойти.
        p.article__paragraph Мы проводим целый комплекс работ по просушке квартиры перед ремонтом, используя мощное современное оборудование, которое вытягивает влагу из всех поверхностей и материалов.
        p.article__paragraph Такие сушильные машины не выделяют тепло, все работы происходят без шума и пыли. Для подключения оборудования необходима стандартная розетка. Если площадь помещения большая, мы подключим дополнительные сушильные машины, чтобы добиться необходимого результата.
        p.article__paragraph Прежде чем начать процесс сушки, наши специалисты проведут замеры остаточного уровня влаги в помещении и составят индивидуальный план работ. После завершения мы также сделаем замеры.
        p.article__paragraph Все замеры и результаты работы будут отражены в отчетных документах (согласно ГОСТ), которые наши специалисты предоставят вам. Узнать о цене вам поможет
          a.article__paragraph_link(href="pricing.html")  эта страница
    include ../templates/triggers.pug
  include ../templates/footer.pug
