extends ../templates/base.pug 

block head
  - var title = "Просушка стен и потолка | Срочно | Дешево";
  - var description = "Срочно просушить стены и потолок? Мы поможем. Профессиональное оборудование, оформление документов по стандарту, выгодная цена. Быстро и качественно просушить стены и потолок - легко";

block body