extends ../templates/base.pug 

block head
  - var title = "Просушка пола без демонтажа | Срочно | Дешево";
  - var description = "Просушить пол после затопления? Специальным оборудованием мы срочно и быстро осушим вашу квартиру, дом. Оформление документов по ГОСТ. Как просушить квартиру после затопления? Ответ - SushkaPola";

block body