extends ../templates/base.pug

block head
  - var title = "Очистка плесени | Срочно | Дешево";
  - var description = "";

block body
  .sticky
    include ../templates/header.pug
    include ../templates/navigation.pug
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Удаление плесени
        .article__image(data-bg="img/sushka-clean-mold.jpg")
        p.article__paragraph Плесень на стенах в квартире или доме образуется по причине чрезмерной влажности помещения.
        p.article__paragraph Грибок не только внешне портит стены и потолки, он проникает внутрь строительных материалов и разрушает их, значительно уменьшая срок эксплуатации. Кроме того, плесень оказывает негативное влияние на здоровье человека - может возникнуть аллергия, астма и другие хронические заболевания.
        p.article__paragraph Самостоятельные попытки избавиться от плесени скорее всего не принесут должного результата - помимо ее удаления, необходимо также устранить причины появления грибка.
        p.article__paragraph Мы проводим целый комплекс работ по удалению плесени и восстановлению оптимального уровня влажности (просушке) помещения с помощью современного оборудования.
        p.article__paragraph Прежде чем начать процесс обработки помещения от плесени и его просушке, наши специалисты проведут замеры остаточного уровня влаги и составят индивидуальный план работ. После завершения мы также сделаем замеры.
        p.article__paragraph Все замеры и результаты работы будут отражены в отчетных документах (согласно ГОСТ), которые наши специалисты предоставят вам. Узнать о цене вам поможет
          a.article__paragraph_link(href="pricing.html")  эта страница
    include ../templates/triggers.pug
  include ../templates/footer.pug
