extends ../templates/base.pug

block head
  - var title = "Просушка стен и потолка | Срочно | Дешево";
  - var description = "Срочно просушить стены и потолок? Мы поможем. Профессиональное оборудование, оформление документов по стандарту, выгодная цена. Быстро и качественно просушить стены и потолок - легко";

block body
  include ../templates/header.pug
  include ../templates/navigation.pug
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Просушка стен и потолка после затопления
        .article__image(data-bg="img/sushka-walls-and-ceil.jpg")
        p.article__paragraph Процесс просушки стен и потолков в помещении зависит от вида повреждений, которые образовались вследствие затопления.
        p.article__paragraph Мы выполняем целый комплекс работ по просушке стен и потолков после затопления с помощью современных и мощных сушильных машин, которые вытягивают влагу из всех поверхностей и материалов.
        p.article__paragraph Такие машины не выделяют тепло, все работы происходят без шума и пыли. Для подключения оборудования необходима стандартная розетка, а разместить его можно на балконе или лоджии.
        p.article__paragraph Работа начинается с самого промокшего участка. Если затопление произошло на большой площади и одной системы будет недостаточно, мы задействует несколько машин одновременно.
        p.article__paragraph Прежде чем начать просушку пола, мы произведем замеры остаточного уровня влаги в помещении и составим индивидуальный план работ. После завершения мы также сделаем замеры, чтобы не пересушить материалы, которые подверглись воздействию влаги.
        p.article__paragraph се замеры и результаты работы будут отражены в отчетных документах (согласно ГОСТ), которые наши специалисты предоставят вам. О цене вам расскажет
          a.article__paragraph_link(href="pricing.html")  эта страница
    include ../templates/triggers.pug
  include ../templates/footer.pug
