extends ../templates/base.pug

block head
  - var title = "Просушка складов и ангаров | Срочно | Дешево";
  - var description = "Складские помещения, особенно те, которые отличаются большой площадью, требуют  серьезного подхода к решению проблемы. Зачастую необходимо будет осушить не только воздух, но и просушить стены и пол.";

block body
  .sticky
    include ../templates/header.pug
    include ../templates/navigation.pug
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Просушка складов и ангаров от сырости
        .article__image(data-bg="img/sushka-storage.jpg")
        p.article__paragraph Сырость в складских помещениях может появиться по разным причинам: проблемы с гидроизоляцией или вентиляцией, затопление или свежий ремонт.
        p.article__paragraph В любом случае излишняя влажность воздуха на складе явление не столько нежелательное, сколько недопустимое. Ведь неправильный микроклимат в помещении будет способствовать порче всего, что там хранится.
        p.article__paragraph Складские помещения, особенно те, которые отличаются большой площадью, требуют серьезного подхода к решению проблемы. Зачастую необходимо будет осушить не только воздух, но и просушить стены и пол.
        p.article__paragraph Мы проводим целый комплекс работ по просушке квартиры перед ремонтом, используя мощное современное оборудование, которое вытягивает влагу из всех поверхностей и материалов.
        p.article__paragraph Если площадь помещения большая, мы подключим дополнительные сушильные машины, чтобы добиться необходимого результата.
        p.article__paragraph Прежде чем начать процесс сушки, наши специалисты проведут замеры остаточного уровня влаги в помещении и составят индивидуальный план работ. После завершения мы также сделаем замеры.
        p.article__paragraph Все замеры и результаты работы будут отражены в отчетных документах (согласно ГОСТ), которые наши специалисты предоставят вам. О цене расскажет
          a.article__paragraph_link(href="pricing.html")  эта страница
    include ../templates/triggers.pug
  include ../templates/footer.pug
