extends ../templates/base.pug

block head
  - var title = "Осушение бассейна | Срочно | Дешево";
  - var description = "";

block body
  include ../templates/header.pug
  include ../templates/navigation.pug
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Осушение воздуха в бассейне при помощи спецоборудования
        .article__image(data-bg="img/sushka-pool.jpg")
        p.article__paragraph Всем владельцам домашних бассейнов знакома проблема излишней влажности воздуха в помещении.
        p.article__paragraph Только представьте, при нормальной температуре с 1 кв. м. поверхности воды испаряется около 5 л воды в сутки. Как следствие - избыточная влажность в помещении, где расположен бассейн.
        p.article__paragraph Это приводит к образованию конденсата на стенах и потолке, а чуть позже - к появлению плесени, которая оказывает негативное воздействие на организм человека - может развиться аллергия или астма, а также другие хронические заболевания.
        p.article__paragraph Мы проводим целый комплекс работ по осушению воздуха в бассейне, используя мощное современное оборудование.
        p.article__paragraph Прежде чем начать процесс сушки, наши специалисты проведут замеры остаточного уровня влаги в помещении и составят индивидуальный план работ. После завершения мы также сделаем замеры.
        p.article__paragraph Все замеры и результаты работы будут отражены в отчетных документах (согласно ГОСТ), которые наши специалисты предоставят вам. Узнать о цене вам поможет
          a.article__paragraph_link(href="pricing.html")  эта страница
    include ../templates/triggers.pug
  include ../templates/footer.pug
