extends ../templates/base.pug

block head
  - var title = "Просушка пола без демонтажа | Срочно | Дешево";
  - var description = "После потопа, любезно подаренного соседями сверху встает резонный вопрос: как просушить пол? Напольное покрытие не защищено от воды, и многие видят решение только в демонтаже и переукладке пола. Но я спешу вас обрадовать, можно обойтись и без этого доростоящего и времязатратного процесса.";

block body
  .sticky
    include ../templates/header.pug
    include ../templates/navigation.pug
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Просушка пола без демонтажа
        img.article__image(data-src="img/sushka-floor.jpg", alt="Залило пол, что же теперь делать? Прорыв трубы и потоп в квартире. Сушка пола без демонтажа - реально.")
        p.article__paragraph Напольные покрытия - наиболее уязвимое место в квартире или доме! Иногда в  случаются обстоятельства вроде пожара или прорыва трубы, а в редких случаях и незакрытого крана, перед которым заботливый владелец поставил наполняться кувшин с водой. Все это приводит в дикий ужас, вода повсюду, все плавает, и что делать - непонятно, ведь тряпкой тут уже не помочь, нервы начинают зашкаливать, ведь пока убираешь воду, понимаешь, что затапливаешь соседей снизу!
        p.article__paragraph Даже если вы успели оперативно убрать образовавшиеся на полу лужи, вода успеет проникнут ь в маленькие щели и зазоры, каким бы качественным и идеальным ни было покрытие. Далее влагой пропитываются все слои: перекрытия, наполнитель и стяжка пола.
        p.article__paragraph Помимо деформации и возможно полное разрушение напольного покрытия  (паркет, ламинат, мрамор)  . Также страдают стены, повреждается штукатурка, обои не будут ложиться ровно, могут возникнуть сложности с креплением плинтусов.
        p.article__paragraph Кроме того, непросохший пол  станет благоприятной средой для развития #[a.article__paragraph_link(href="sushka-clean-mold.html") грибка], который не только испортит внешний вид помещения и разрушит строительные материалы, но и будет #[strong крайне] негативно влиять на ваше здоровье.
        p.article__paragraph Если действовать по-старинке, то, скорее всего, вам понадобится полностью демонтировать напольное покрытие и укладывать новое. Это достаточно хлопотная и дорогостоящая задачи.
        p.article__paragraph Наши специалисты владеют уникальной технологией быстрой просушки пола без демонтажа и повреждения любого напольного покрытия.
        p.article__paragraph Чтобы спасти положение мы делаем в стыках покрытия небольшое отверстие (не более 4 мм) и используем портативные сушильные машины, которые вытягивают влагу из всех материалов и полостей.
        p.article__paragraph Весь процесс проходит с минимальным уровнем шума, без грязи и пыли. Более того, чтобы высушить пол вам не потребуется покидать помещение, двигать мебель или останавливать другие ремонтные работы.
        p.article__paragraph Прежде чем начать, мы произведем замеры остаточного уровня влаги в помещении и составим индивидуальный план спасения. После завершения мы также сделаем замеры, чтобы не пересушить материалы, которые подверглись воздействию влаги.
        p.article__paragraph Все замеры и результаты работы будут отражены в отчетных документах (согласно ГОСТ), которые наши специалисты предоставят вам. Узнать о цене вам поможет
          a.article__paragraph_link(href="pricing.html")  эта страница
        ul.article__list
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h2.article__list-text Вас затопили соседи сверху?
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h2.article__list-text Помещение залили пожарные во время тушения пожара?
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h2.article__list-text Прорвало трубу или систему отопления?
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h2.article__list-text В подвал дома просочились грунтовые воды?
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h2.article__list-text Проблемы с внешней гидроизоляцией помещения?
    include ../templates/triggers.pug
  include ../templates/footer.pug
