.footer
  padding-bottom: 20px
  &__container
    @extend %flex
    align-items: center
    justify-content: center
  &__social
    margin-right: 15px
    &:last-child
      margin-right: 0
    &-icon
      color: $darkAccent
      font-size: 5rem