.services
  padding-bottom: 120px
  &__title
    margin-bottom: 40px
    text-align: center
    text-transform: uppercase
    font:
      size: 2.8rem
      weight: 700
  &__row
    grid-gap: 0
.service
  @extend %flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  height: 300px
  padding: 100px 10px 0
  position: relative
  background:
    size: cover
    position: center
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.35)
    transition: background-color 0.5s
  &:hover:before
    background-color: $darkAccent

  +media('>=xl')
    grid-column: span 3
  +media('<=xl', '>=md')
    grid-column: span 6
  +media('<=md')
    grid-column: span 12
  &__button
    z-index: 3
    padding: 10px 30px
    margin-bottom: 20px
    border: 2px solid $light
    color: $light
    text-transform: uppercase
    font:
      size: 1.8rem
      weight: 600
    &:hover
      background-color: $light
      color: $dark
      transition: all .5s

  &__title
    z-index: 3
    color: $light
    text-align: center
    text-transform: uppercase
    font:
      size: 2rem
      weight: 700
