extends ../layouts/base

block head
  - var title = "Просушка домов, квартир и других помещений при помощи профессионального оборудования";
  - var description = "Затопили соседи сверху? Во время тушения пожара затопили помещение? Прорвало трубу или систему отопления? Проблемы с гидроизоляцией помещения? Не беда! Мы решим все эти проблемы при помощи специального оборудования быстро, качественно и максимально дешево. Просушить квартиру или дом - без проблем";

  //-  <!-- Yandex Metrika -->
  meta(name="yandex-verification", content="ba3e5edd0c4c8bbe")
  script.
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(55222039, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });

  //-  <!-- Global site tag (gtag.js) - Google Analytics -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'GA_MEASUREMENT_ID');  


block body
  .sticky
    include ../includes/header
    include ../includes/navigation
  main.main
    include ../includes/intro
    include ../includes/faq
    include ../includes/triggers
    article.article
      .container.article__container
        h2.article__title Почему вы не сможете справиться самостоятельно?
        img.article__image(data-src="img/article-image.jpg", alt="Потоп в квартире. Самостоятельно просушить квартиру после затопления. Забыл закрыть кран, что теперь делать?")
        p.article__paragraph Затопление дома или квартиры - крайне неприятное происшествие, с которым, увы, может столкнуться каждый. Причина может совершенно не зависеть от вас - затопление соседями сверху или прорыв трубы отопления. В такой ситуации важно оперативно начать просушку помещения, иначе последствия могут быть необратимыми:
        ul.article__list
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text Короткие замыкания в электропроводке или полный выход ее из строя
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text Впитывание влаги потолком, стенами и полом
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text Возникновение неприятного запаха сырости
          li.article__list-item
            i.article__list-marker.fal.fa-exclamation-circle
            h4.article__list-text Образование плесени или грибка, приводящее к проблемам со здоровьем
        p.article__paragraph К счастью, мы всегда готовы прийти на помощь. Скорость здесь играет ключевую роль, наряду с определением объема работ. Наш специалист в кратчайшие сроки осматривает помещение, производит замеры уровня влажности и предоставляет вам список необходимых процедур по спасению помещения от сырости, затопления. В разных ситуациях необходимо принимать различные меры, затопили соседи сверху — #[a.article__paragraph_link.article__paragraph_bold(href="sushka-walls-and-ceil.html") просушка стен и потолка], забыли закрыть кран и залили всё напольное покрытие — #[a.article__paragraph_link.article__paragraph_bold(href="sushka-floor.html") просушка пола без демонтажа]. Все случаи разные, именно поэтому в нашем штате есть специалист, которые проводит оценку объема повреждений и определяет, какие меры по осушению нужно произвести.
        p.article__paragraph Нередки случаи прорыва трубы горячего или холодного водоснабжения, протечки канализационной трубы. В таких ситуациях нужна быстрая ликвидация последствий аварии при помощи профессионального оборудования. Просушка пола, стен или потолка проходит при помощи мощных сушильных машин, вытягивающих влагу из предполагаемого места застоя воды. У современных версий машин большое количество преимуществ, благодаря которым процесс сушки не доставит вам неудобств:
        ul.article__list
          li.article__list-item
            i.article__list-marker.fal.fa-check-circle
            h4.article__list-text Скорость работы
          li.article__list-item
            i.article__list-marker.fal.fa-check-circle
            h4.article__list-text Минимальный уровень шума
          li.article__list-item
            i.article__list-marker.fal.fa-check-circle
            h4.article__list-text Отсутствие грязи и пыли
          li.article__list-item
            i.article__list-marker.fal.fa-check-circle
            h4.article__list-text Портативность
        p.article__paragraph Также не стоит забывать о проблемах жителей частных домов. Неправильная гидроизоляция помещения может привести к основательному застою воды на чердаке, в мансарде или подвале. В таком состоянии оно непригодно к эксплуатации, то есть не может выполнять свою основную задачу. Чрезмерная влажность в таких местах может привести к большому количеству случаев с печальным исходом: грибок и плесень на стенах, ржавление металлических конструкций, ухудшение теплоизоляции из-за повышенного количества влаги в утеплителе, вот некоторые возможные проблемы. Мы с радостью поможем вам избежать этого. Оперативность и качество работы помогут быстро определить источник затопления и ликвидировать его. Наш специалист готов прийти вам на помощь в любое удобное для вас время, составить план работ согласно ГОСТ и вызвать бригаду с необходимым оборудованием.
        p.article__paragraph Также не стоит забывать о проблемах жителей частных домов. Неправильная гидроизоляция помещения может привести к основательному застою воды на чердаке, в мансарде или подвале. В таком состоянии оно непригодно к эксплуатации, то есть не может выполнять свою основную задачу. Чрезмерная влажность в таких местах может привести к большому количеству случаев с печальным исходом: грибок и плесень на стенах, ржавление металлических конструкций, ухудшение теплоизоляции из-за повышенного количества влаги в утеплителе, вот некоторые возможные проблемы. Мы с радостью поможем вам избежать этого. Оперативность и качество работы помогут быстро определить источник затопления и ликвидировать его. Наш специалист готов прийти вам на помощь в любое удобное для вас время, составить план работ согласно ГОСТ и вызвать бригаду с необходимым оборудованием.
    include ../includes/hww
    include ../includes/services
  include ../includes/footer
