extends ../layouts/base

block head
  - var title = "Осушение бассейна | Срочно | Дешево";
  - var description = "Бассейн в доме - прекрасная вещь, но что делать с большим количеством влаги в помещении, провоцирующим рост плесени и сводящим качество ремонта на нет? Просушка воздуха в месте нахождения бассейна - вот выход из ситуации. Чтобы избежать будущих проблем и неувязок, стоит начать её как можно скорее. Оперативность в этом вопросе играет большую роль";

block body
  .sticky
    include ../includes/header
    include ../includes/navigation
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Осушение воздуха в бассейне при помощи спецоборудования
        img.article__image(data-src="img/sushka-pool.jpg", alt="Плесень в помещении с бассейном. Высокая влажность от бассейна, как исправить? Просушка воздуха и удаление плесени.")
        p.article__paragraph Всем владельцам домашних бассейнов знакома проблема излишней влажности воздуха в помещении.
        p.article__paragraph Только представьте, при нормальной температуре с 1 кв. м. поверхности воды испаряется около 5 л воды в сутки. Как следствие - избыточная влажность в помещении, где расположен бассейн.
        p.article__paragraph Это приводит к образованию конденсата на стенах и потолке, а чуть позже - к появлению плесени, которая оказывает негативное воздействие на организм человека - может развиться аллергия или астма, а также другие хронические заболевания.
        p.article__paragraph Мы проводим целый комплекс работ по осушению воздуха в бассейне, используя мощное современное оборудование.
        p.article__paragraph Прежде чем начать процесс сушки, наши специалисты проведут замеры остаточного уровня влаги в помещении и составят индивидуальный план работ. После завершения мы также сделаем замеры.
        p.article__paragraph Все замеры и результаты работы будут отражены в отчетных документах (согласно ГОСТ), которые наши специалисты предоставят вам. Узнать о цене вам поможет
          a.article__paragraph_link(href="pricing.html")  эта страница
    include ../includes/triggers
  include ../includes/footer
