* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #2a323a;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button, input, textarea {
  padding: 0;
  margin: 0;
  border: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__container, .header__logo, .header__contacts, .header__contact, .header__contact-wrapper, .nav__container, .nav-list, .intro__container, .triggers__container, .trigger, .article__container, .article__list-item, .hww__container, .hww-step, .service, .service__heading, .footer__container, .error, .error__container {
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  display: grid;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 2;
}

.header {
  position: relative;
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}

.header__container {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }
}

.header__logo {
  align-items: center;
}

@media (max-width: 768px) {
  .header__logo {
    margin-bottom: 10px;
  }
}

.header__logo-icon {
  width: 116px;
  height: 80px;
  background-size: cover;
  background-position: center;
}

.header__contacts {
  align-items: center;
}

@media (max-width: 576px) {
  .header__contacts {
    flex-direction: column;
  }
}

.header__contact {
  align-items: center;
}

.header__contact-icon {
  margin-right: 15px;
}

.header__contact-icon-symbol {
  font-size: 3.5rem;
  color: #d8cb55;
}

.header__contact-icon-symbol_whatsapp {
  color: #25d366;
}

.header__contact-icon-symbol_viber {
  color: #8f5db7;
}

.header__contact-text {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  .header__contact:first-child {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .header__contact:first-child {
    margin-bottom: 5px;
  }
}

.header__contact-wrapper {
  flex-direction: column;
}

.header__contact-wrapper-text {
  font-size: 1.6rem;
}

.header__contact-wrapper-text:first-child {
  margin-bottom: 10px;
}

.nav {
  padding: 15px 0;
}

@media (max-width: 768px) {
  .nav {
    padding: 0;
  }
}

.nav__container {
  justify-content: center;
}

@media (max-width: 768px) {
  .nav__container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.nav-toggler {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (min-width: 768px) {
  .nav-toggler {
    display: none;
  }
}

.nav-toggler__icon {
  font-size: 3rem;
}

.nav-list {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .nav-list {
    width: 100%;
    position: absolute;
    top: 100%;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease-in-out;
    transform-origin: 0 0;
    transform: scaleY(0);
  }
  .nav-list_expanded {
    transform: scaleY(1);
  }
}

@media (min-width: 768px) {
  .nav-list__item {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .nav-list__item {
    padding: 10px 0;
  }
}

.nav-list__item-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}

.nav-list__item-marker {
  margin-left: 5px;
  font-size: 1.5rem;
}

.nav-list__item_dropdown {
  position: relative;
}

@media (max-width: 768px) {
  .nav-list__item_dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav-dropdownlist {
  flex-direction: column;
}

@media (max-width: 768px) {
  .nav-dropdownlist {
    display: none;
    padding: 5px 0;
  }
}

@media (min-width: 768px) {
  .nav-dropdownlist {
    display: flex;
    min-width: 52rem;
    padding: 20px;
    position: absolute;
    background-color: #ffffff;
    transition: all .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
}

.nav-dropdownlist__item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(42, 50, 58, 0.5);
}

@media (max-width: 768px) {
  .nav-dropdownlist__item {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .nav-dropdownlist__item {
    transition: padding .25s;
  }
  .nav-dropdownlist__item:hover {
    padding-left: 10px;
  }
}

.nav-dropdownlist__item-link {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .nav-dropdownlist_expanded {
    display: flex;
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media (min-width: 768px) {
  .nav-dropdownlist_expanded {
    visibility: visible;
    opacity: 1;
  }
}

.intro {
  padding: 150px 0 100px;
  background: linear-gradient(180deg, #FFFFFF 4.69%, rgba(255, 255, 255, 0.617886) 41.15%, rgba(255, 255, 255, 0) 100%), url("../img/intro-background.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .intro {
    padding: 75px 0 50px;
  }
}

.intro__container {
  flex-direction: column;
  align-items: center;
}

.intro__title {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: 800;
}

.intro__subtitle {
  margin-bottom: 70px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}

.intro__button {
  padding: 15px 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #44aaa2;
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
}

.triggers {
  padding: 60px 0 120px;
}

.triggers__container {
  flex-direction: column;
  align-items: center;
}

.triggers__title {
  margin-bottom: 60px;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}

.trigger {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .trigger {
    grid-column: span 3;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .trigger {
    grid-column: span 6;
  }
}

@media (max-width: 768px) {
  .trigger {
    grid-column: span 12;
  }
}

.trigger__icon {
  margin-bottom: 20px;
}

.trigger__icon-symbol {
  color: #d8cb55;
  font-size: 8rem;
}

.trigger__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}

.article {
  padding-bottom: 120px;
}

.article + .triggers {
  padding-top: 0;
}

.article__container {
  flex-direction: column;
}

.article__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
}

.article__title_mtop {
  margin-bottom: 0;
  margin-top: 60px;
}

.article__title_mall {
  margin-bottom: 50px;
  margin-top: 60px;
}

.article__image {
  width: 100%;
  height: 450px;
  margin: 40px 0;
  background-size: cover;
  background-position: center;
}

.article__image_hidden {
  display: none;
}

@media (max-width: 992px) {
  .article__image {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .article__image {
    height: 350px;
  }
}

.article__paragraph {
  margin-bottom: 25px;
  line-height: 3.6rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.article__paragraph_link {
  color: #44aaa2;
}

.article__paragraph_bold {
  font-weight: 600;
}

.article__list {
  padding-left: 20px;
  margin-bottom: 25px;
}

.article__list-item {
  align-items: center;
  margin-bottom: 20px;
}

.article__list-item:last-child {
  margin-bottom: 0;
}

.article__list-text {
  line-height: 3rem;
  font-size: 2.2rem;
  font-weight: 500;
}

.article__list-marker {
  margin-right: 15px;
  color: #44aaa2;
  font-size: 2.5rem;
}

.hww {
  padding-bottom: 120px;
}

.hww__container {
  flex-direction: column;
  align-items: center;
}

.hww__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
}

.hww-step {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .hww-step {
    grid-column: span 4;
  }
}

@media (max-width: 768px) {
  .hww-step {
    grid-column: span 12;
  }
}

.hww-step__icon {
  margin-bottom: 15px;
}

.hww-step__icon-symbol {
  color: #d8cb55;
  font-size: 8rem;
}

.hww-step__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.services {
  padding-bottom: 120px;
}

.services__title {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
}

.services__row {
  grid-gap: 0;
}

.service {
  flex-direction: column;
  align-items: stretch;
}

.service:hover .service__image::before {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 1200px) {
  .service {
    grid-column: span 3;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .service {
    grid-column: span 6;
  }
}

@media (max-width: 768px) {
  .service {
    grid-column: span 12;
  }
}

.service__image {
  height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
}

.service__image:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.5s;
}

.service__heading {
  align-items: center;
  justify-content: center;
  min-height: 9rem;
  background-color: #44aaa2;
}

.service__heading-title {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.footer {
  padding-bottom: 20px;
}

.footer__container {
  align-items: center;
  justify-content: center;
}

.footer__social {
  margin-right: 15px;
}

.footer__social:last-child {
  margin-right: 0;
}

.footer__social-icon {
  color: #44aaa2;
  font-size: 5rem;
}

.error {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.error__container {
  flex-direction: column;
  align-items: center;
}

.error__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
}

.error__link {
  color: #44aaa2;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.25s;
}

.error__link:hover {
  text-decoration: underline;
}

.error__logo {
  display: block;
  margin-bottom: 30px;
  font-size: 2rem;
}

.error__logo-icon {
  width: 11.6em;
  height: 8em;
  background-size: cover;
}
