extends ../../layouts/base

block head
  - var title = "Что Делать Если Залило Квартиру Помощь (24/7)";
  - var description = "На полу стоит вода? Обои начинают отклеиваться, а вы ничего не можете сделать? Экстренная помощь специалистов - вот, что вам нужно";

block body
  .sticky
    include ../../includes/header
    include ../../includes/navigation
  main.main
    article.article
      .container.article__container
        h1.article__title.article__title_mtop Затопление квартиры, что делать?
        img.article__image(data-src="/img/articles-zatoplenie_kvartiry_chto_delat.jpg")        
        p.article__paragraph С каждым могут произойти неприятности. Никто не застрахован от случайностей. Затопление квартиры - проблема, которая может поставить в неудобное положение. К потопу может вести множество причин, чтобы уберечься от них необходимо знать врага в лицо. В этой статье мы разберем основные причины “затопа” и действия при затоплении квартиры.
        p.article__paragraph Одна из самых частых проблем - затопили соседи сверху. Причем потоп может произойти без участия человека: сломанная стиральная/посудомоечная машина, срыв крана в ванной или на кухне. В таком случае страдает потолок и стены, но при особых случаях может пострадать и пол.
        p.article__paragraph В первую очередь нужно отключить электричество, т.к. от воды может пострадать проводка и произойти короткое замыкание. Далее необходимо увезти из помещения все, что может пострадать от воды, мебель из натурального дерева, двери из массива, которые от влаги размокнут и перестанут нормально функционировать. В случае, если у вас натяжные потолки, то между полотном и плитой покрытие таится огромное количество воды, которое надо аккуратно слить. Конструкции из дерева, ткани и гипсокартона в случае несвоевременной просушки придется демонтировать, как и металлические конструкции, подверженные коррозии. Далее следует просушить пол, стены, пропитавшиеся водой и потолок при помощи специальной тепловой пушки, которую будет сложно запитать, ввиду отсутствия в квартире электричества (не забываем про проводку), провести замеры уровня влаги, чтобы не пересушить помещение. И, наконец, проверить стены на наличие плесени, которая разводится как только повышается влажность. Если вы действовали недостаточно оперативно, то обои скорее всего уже успели размокнуть и стать непригодными к дальнейшему использованию, поэтому, придется делать ремонт со всеми вытекающими последствиями.
        p.article__paragraph Затопление квартиры - риск, которому подвержены жильцы любого многоквартирного дома, самая лучшая гидроизоляция не поможет при масштабной протечке сверху. Но, выход есть - позвонить специалистам, которые возьмут всю эту сложную работу на свои плечи. Мы сможем просушить вашу квартиру после затопления.
        p.article__paragraph В ближайшее время  к вам прибудет специалист для оценки ущерба и составления индивидуального плана работ. Он проведет замеры влажности и определит, какие мероприятия необходимы для просушки пола, стен и потолка. Через несколько часов к вам прибудет бригада рабочих с профессиональным оборудованием и начнет сушку. Современные сушильные машины обладают рядом весьма полезных качеств: тишина, компактность, небольшое энергопотребление и крайне высокая эффективность. Не стоит медлить с вызовом, через какое-то время квартиру будет уже не спасти. Мы специализируемся на просушке любого вида напольного покрытия, стен и потолков, а также на удалении плесени, помочь вам - наша обязанность. Работы проводятся в соответствии с техникой безопасности и отражены в отчетных документах, оформленных по государственным стандартам. Затопило квартиру? Прорвало трубу ХВС или ГВС? Не переживайте, мы поможем просушить квартиру без лишних хлопот и беспокойства.
    include ../../includes/services
        
  include ../../includes/footer
