main.error
  .container.error__container
    a.error__logo(href="/")
      .error__logo-icon(data-bg="./img/header-logo.png")
    h1.error__title Ошибка 404. К сожалению страница не найдена
    a.error__link(href="/") Вернуться на главную
