section.intro
  .container.intro__container
    h1.intro__title Как просушить помещение после залива?
    h2.intro__subtitle Затопление квартиры или дома - неприятная ситуация, с которой может столкнуться каждый из нас в самый неподходящий момент
    a.intro__button(href="https://wa.me/79262863781") получить помощь