-
  var patterns = [
    {
      title: 'Оперативный выезд в ближайшее время',
      iconClass: 'fa-tachometer-fastest'
    },
    {
      title: 'Качественное исполнение',
      iconClass: 'fa-diploma'
    },
    {
      title: 'Профессиональное оборудование',
      iconClass: 'fa-toolbox'
    },
    {
      title: 'Отражение всех работ в отчете',
      iconClass: 'fa-file-certificate'
    }
  ];
section.triggers
  .container.triggers__container
    h2.triggers__title Почему мы?
    .row
      each pattern in patterns
        .trigger
          .trigger__icon
            i.trigger__icon-symbol.fal(class=pattern.iconClass)
          h3.trigger__title= pattern.title